.main{
    min-height: calc(100vh - 100px);
}
.login{
    max-width: 400px;
    margin: auto;
}
.active{
    background-color: green;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    text-transform: capitalize;
}
.inactive{
    background-color: red;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 5px;
    text-transform: capitalize;
}